%h1
  = t(:kinozals)
  = link_to new_kinozal_path, "data-ajax" => "false" do
    .ui-shadow.ui-btn.ui-corner-all.ui-btn-inline.ui-icon-plus.ui-btn-icon-notext.ui-btn-b{"data-theme" => "b", "data-ajax"=>"false", :style=>"float:right;"}
      = t(:new)

.docs-main
  %table#tabl_kinozal.tablesaw{"data-minimap" => "", "data-mode" => "swipe", "data-mode-switch" => "", "data-sortable" => "", "data-sortable-switch" => ""}
    %thead
      %tr


        %th{"data-priority" => "1", "data-sortable-col" => ""}= t(:name)

        %th{"data-priority" => "2", "data-sortable-col" => ""}= t(:kinodom)
        %th{"data-priority" => "", "data-sortable-col" => ""}
    %tbody
      - @kinozals.each do |kinozal|
        %tr


          %td
            = link_to kinozal do
              = kinozal.name

          %td
            - if kinozal.kinodom_id
              = kinozal.kinodom.name
          
          %td
            = link_to 'Изменить', edit_kinozal_path(kinozal), :class => "ui-btn ui-btn-icon-left ui-icon-edit", "data-ajax" => false
            = link_to 'Удалить', kinozal, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "ui-btn ui-btn-icon-left ui-icon-delete", "data-ajax" => false




