%h1
  = t(:kinofilms)
  = link_to new_kinofilm_path, "data-ajax" => "false" do
    .ui-shadow.ui-btn.ui-corner-all.ui-btn-inline.ui-icon-plus.ui-btn-icon-notext.ui-btn-b{"data-theme" => "b", "data-ajax"=>"false", :style=>"float:right;"}
      = t(:new)

.docs-main
  %table#tabl_kinofilm.tablesaw{"data-minimap" => "", "data-mode" => "swipe", "data-mode-switch" => "", "data-sortable" => "", "data-sortable-switch" => ""}
    %thead
      %tr


        %th{"data-priority" => "1", "data-sortable-col" => ""}= t(:post_title)

        %th{"data-priority" => "2", "data-sortable-col" => ""}= t(:post_name)

        %th{"data-priority" => "3", "data-sortable-col" => ""}= t(:post_content)

        %th{"data-priority" => "4", "data-sortable-col" => ""}= t(:post_status)

        %th{"data-priority" => "5", "data-sortable-col" => ""}= t(:sticky)

        %th{"data-priority" => "6", "data-sortable-col" => ""}= t(:custom_fields)

        %th{"data-priority" => "7", "data-sortable-col" => ""}= t(:movies_length)

        %th{"data-priority" => "8", "data-sortable-col" => ""}= t(:event_imdb_url)

        %th{"data-priority" => "9", "data-sortable-col" => ""}= t(:poster)

        %th{"data-priority" => "10", "data-sortable-col" => ""}= t(:poster_big)

        %th{"data-priority" => "11", "data-sortable-col" => ""}= t(:trailer)

        %th{"data-priority" => "12", "data-sortable-col" => ""}= t(:kinopoisk_id)

        %th.sum= t(:main_price)
        %th{"data-priority" => "", "data-sortable-col" => ""}
    %tbody
      - @kinofilms.each do |kinofilm|
        %tr

          %td
            = kinofilm.post_title


          %td
            = link_to kinofilm do
              = kinofilm.post_name
          %td
            = kinofilm.post_content

          %td
            = kinofilm.post_status


          %td
            = kinofilm.sticky ? "Да" : "Нет"
          
          %td
            = kinofilm.custom_fields

          %td
            = kinofilm.movies_length

          %td
            = kinofilm.event_imdb_url

          %td
            = kinofilm.poster

          %td
            = kinofilm.poster_big

          %td
            = kinofilm.trailer

          %td
            = kinofilm.kinopoisk_id

          %td
            = kinofilm.main_price

          %td
            = link_to 'Изменить', edit_kinofilm_path(kinofilm), :class => "ui-btn ui-btn-icon-left ui-icon-edit", "data-ajax" => false
            = link_to 'Удалить', kinofilm, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "ui-btn ui-btn-icon-left ui-icon-delete", "data-ajax" => false

%h2
  = link_to 'kinofilms/getfilm' do
    .ui-shadow.ui-btn.ui-corner-all.ui-btn-inline.ui-icon-arrow-d.ui-btn-icon-notext.ui-btn-d{ :style=>"float:right;"}
      = t(:new)






