<h2><%= t('.sign_in', :default => "Sign in") %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
  <%= f.email_field :email, :placeholder=>t(:email), 'data-clear-btn'=>true %></div>

  <div>
  <%= f.password_field :password, :placeholder=>t(:pass) %></div>


  <% if devise_mapping.rememberable? -%>

    <div 'data-theme'='a'>
      <%= f.check_box :remember_me, {'data-theme'=>'b', :class=>'.check1'} %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div>
    <%= f.submit t('.sign_in', :default => "Sign in"), {'data-theme'=>'g', 'data-icon'=>'carat-r', 'data-iconpos'=>'right', 'data-iconshadow'=>true, 'data-inline'=>false, 'data-corners'=>true, 'data-shadow'=>true, 'data-push'=>true, 'data-transition'=>'slideup'} %>
  </div>
<% end %>


  <div data-role="collapsible-set" data-theme="a">
      <div data-role="collapsible" data-content-theme="f">
          <h3>
              Дополнительно
          </h3>
          <%= render "devise/shared/links" %>
      </div>
  </div>
